.main {
    width: 50%;
    height: 800px;
    margin: 2em auto;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
}

.titulo {
    padding: 1em;
    border-bottom: 2px black solid;
    font-size: 1.5em;
    background-color: rgb(201, 201, 201);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
}

.escopo-mensagem {
    margin: 1em;
}

.mensagens {
    margin: 1em 0;
}

.mensagem {
    padding: 1em;
    border: 2px solid black;
}

.botoes {
    display: flex;
    justify-content: flex-end;
}

.escopo-input {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

.input-mensagem {
    width: 80%;
    height: 100px;
}

.btn-enviar {
    height: 30px;
}